@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	src:
		url("fonts/ff-rubik-regular-webfont.woff2") format("woff2"),
		url("fonts/ff-rubik-regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src:
		url("fonts/ff-rubik-bold-webfont.woff2") format("woff2"),
		url("fonts/ff-rubik-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 900;
	src:
		url("fonts/ff-rubik-black-webfont.woff2") format("woff2"),
		url("fonts/ff-rubik-black-webfont.woff") format("woff");
}

body {
	font-family: Rubik, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	line-height: 1.15;
	margin: 0;
	padding: 0;
	background-image: url("images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlay {
	background: linear-gradient(to right, #0e0015 0, transparent 100%);
	height: 100vh;
}

.header {
	left: 0;
	padding: 2rem;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);

	@media (min-width: 768px) {
		margin-left: 4rem;
		max-width: 500px;
		padding: 0;
		text-align: left;
	}
}

.header__title {
	color: rgba(255, 255, 255, 0.9);
	font-size: 2.25rem;
	font-weight: 900;
	line-height: 1.4;
	margin: 0;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
	text-transform: uppercase;

	@media (min-width: 768px) {
		font-size: 3.5rem;
		line-height: 1.25;
	}
}

.header__blurb {
	color: rgba(255, 255, 255, 0.9);
	font-size: 1.35rem;
	font-weight: 500;
	letter-spacing: -1px;
	line-height: 1.9rem;
	margin: 0;

	@media (min-width: 768px) {
		font-size: 1.6rem;
	}
}

.footer {
	bottom: 0;
	left: 0;
	margin-bottom: 2rem;
	position: absolute;
	right: 0;

	@media (min-width: 768px) {
		margin-left: 4rem;
	}
}

.footer__contact {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	letter-spacing: -1px;
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;

	@media (min-width: 768px) {
		font-size: 1.25rem;
		justify-content: flex-start;
	}
}

.footer__contact-icon {
	width: 16px;
}

.footer__contact-link {
	border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: all ease-in-out 250ms;

	&:hover {
		border-bottom-color: #fff;
		color: #fff;
	}
}
